@model Cozastore.Models.Cor
@{
    ViewData["Title"] = "Cores";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Styles {
    <style>
        input[type='color'] {
            border-radius: 50%;
            height: 38px;
            width: 42px;
            border: solid 1px black;
            outline: none;
            padding: 0;
            -webkit-appearance: none;
        }

        input[type='color']::-webkit-color-swatch-wrapper {
            padding: 0;
        }

        input[type='color']::-webkit-color-swatch {
            border: none;
            border-radius: 50%;
        }
    </style>
}

<div class="row">
    <div class="col-md-5 mx-auto">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-warning shadow-primary border-radius-lg pt-4 pb-3">
                    <h5 class="text-white text-capitalize ps-3">@ViewData["Title"]</h5>
                    <h6 class="text-white text-capitalize ps-3">Alterar</h6>
                </div>
            </div>
            <div class="card-body pb-2">
                <form asp-action="Edit" method="post" class="row">
                    <input type="hidden" asp-for="Id" />
                    <div class="col-12 mb-3">
                        <div class="input-group input-group-outline">
                            <label asp-for="Nome" class="form-label"></label>
                            <input asp-for="Nome" class="form-control" />
                        </div>
                        <span asp-validation-for="Nome" class="text-danger text-sm"></span>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="d-flex">
                            <div class="input-group input-group-outline">
                                <label asp-for="CodigoHexa" class="form-label"></label>
                                <input asp-for="CodigoHexa" class="form-control" />
                            </div>
                            <input type="color" value="@Model.CodigoHexa" onchange="ColorChange(this.value)"
                                class="border-none border-dark rounded-circle ms-2 outline-none cursor-pointer">
                        </div>
                        <span asp-validation-for="CodigoHexa" class="text-danger text-sm"></span>
                    </div>
                    <div class="mt-3">
                        <input type="submit" value="Salvar" class="btn btn-success me-3" />
                        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var elem = document.getElementById('CodigoHexa');
        function ColorChange(color) {
            elem.value = color;
            elem.parentNode.classList.add('is-filled');
        }
        if (elem.value !== '')
        {
            document.querySelector('input[type="color"]').value = elem.value;
        }
    </script>
}